<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>BasicNegotiation</servlet-name>
		<servlet-class>
			org.jboss.security.negotiation.toolkit.BasicNegotiationServlet
		</servlet-class>
	</servlet>

    <servlet>
      <servlet-name>NTLMNegotiation</servlet-name>
      <servlet-class>
        org.jboss.security.negotiation.toolkit.NTLMNegotiationServlet
      </servlet-class>
    </servlet>

	<servlet>
		<servlet-name>SecurityDomainTest</servlet-name>
		<servlet-class>
			org.jboss.security.negotiation.toolkit.SecurityDomainTestServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Secured</servlet-name>
		<servlet-class>
			org.jboss.security.negotiation.toolkit.SecuredServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BasicNegotiation</servlet-name>
		<url-pattern>/BasicNegotiation</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
      <servlet-name>NTLMNegotiation</servlet-name>
      <url-pattern>/NTLMNegotiation</url-pattern>
    </servlet-mapping>      
	<servlet-mapping>
		<servlet-name>SecurityDomainTest</servlet-name>
		<url-pattern>/SecurityDomainTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Secured</servlet-name>
		<url-pattern>/Secured</url-pattern>
	</servlet-mapping>
		
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Restricted</web-resource-name>
        <url-pattern>/Secured/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>Users</role-name>
      </auth-constraint>
      <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
    
   <login-config>
    <auth-method>SPNEGO</auth-method>
    <realm-name>SPNEGO</realm-name>    
   </login-config>
          
    <security-role>
      <role-name>Users</role-name>
    </security-role>		
		
</web-app>